.nav-items {
    list-style: none;
    display: flex;
    font-weight: 600;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items > li {
    padding: 10px;
}

.footer {
    font-size: larger;
    position: fixed;
    bottom: 0px;
}